@import "../../public/abstracts/__abstracts-dir";

.container {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 12%;
    width: 650px;
    height: 450px;
    transition: 0.2s;

    &:hover {
        transform: scale(1.25);
    }

    .flag {
        position: absolute;
        background: $white;
        top: 15%;
        left: 5%;
        width: 90%;
        height: 70%;
    }

    .top,
    .bottom {
        position: absolute;
        width: 100%;
        height: 50%;
    }

    .top {
        background: linear-gradient(90deg, $top-variant-1 15%, $top-variant-2 62%, $top-variant-1 95%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
    }

    .bottom {
        top: 50%;
        background: linear-gradient(90deg, $bottom-variant-1 15%, $bottom-variant-2 62%, $bottom-variant-1 95%);
        clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%);
    }

    .luzon,
    .visayas,
    .mindanao {
        position: absolute;
        background: $yellow-variant;
        width: 5%;
        height: 9%;
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }

    .luzon {
        top: 9%;
        left: 1%;
    }

    .visayas {
        top: 83%;
        left: 1%;
    }

    .mindanao {
        top: 45%;
        left: 30%;
    }

    .sunCircle {
        position: absolute;
        background: $yellow-variant;
        width: 12%;
        height: 20%;
        top: 40%;
        left: 8%;
        border-radius: 50%;
    }

    .sunRays {
        position: absolute;
        width: 5%;
        height: 10%;

        &.manila {
            top: 30.5%;
            left: 11.3%;
        }

        &.bulacan {
            top: 34.5%;
            left: 17.2%;
            transform: rotate(45deg);
        }

        &.cavite {
            top: 45%;
            left: 20%;
            transform: rotate(90deg);
        }

        &.pampanga {
            top: 54.5%;
            left: 17.2%;
            transform: rotate(135deg);
        }

        &.morong {
            top: 59%;
            left: 11.3%;
            transform: rotate(180deg);
        }

        &.laguna {
            top: 54.5%;
            left: 5.6%;
            transform: rotate(-135deg);
        }

        &.batangas {
            top: 45%;
            left: 3%;
            transform: rotate(-90deg);
        }

        &.nuevaEcija {
            top: 34.5%;
            left: 5.5%;
            transform: rotate(-45deg);
        }

        .leftRay {
            position: absolute;
            background: $yellow-variant;
            width: 15%;
            height: 80%;
            top: 20%;
            left: 15%;
            transform: rotate(-5deg);
            clip-path: polygon(0 20%, 100% 0, 100% 100%, 15% 100%);
        }

        .middleRay {
            position: absolute;
            background: $yellow-variant;
            width: 35%;
            height: 100%;
            left: 32.5%;
            clip-path: polygon(50% 0%, 100% 20%, 82% 100%, 18% 100%, 0 20%);
        }

        .rightRay {
            position: absolute;
            background: $yellow-variant;
            width: 15%;
            height: 80%;
            top: 20%;
            left: 70%;
            transform: rotate(5deg);
            clip-path: polygon(0 0, 100% 20%, 85% 100%, 0 100%);
        }
    }
}