@import "../../public/abstracts/__abstracts-dir";

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 900px;
    max-height: 550px;
    overflow: hidden;
    position: relative;

    .carouselItem {
        visibility: visible;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        background-color: $white;
        flex-shrink: 0;
        position: absolute;
        z-index: 0;
        transition: 0.6s all linear;

        .info {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            order: 1;
            left: 0;
            margin: auto;
            padding: 0 40px;
            width: 40%;

            .container {
                .subtitle {
                    font-family: $primary-font;
                    letter-spacing: 3px;
                    font-size: 10px;
                    text-transform: uppercase;
                    margin: 0;
                    color: $gray-variant-1;
                    font-weight: 700;
                    transform: translateY(25%);
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.4s all ease-in-out;
                }

                .title {
                    margin: 15px 0 0 0;
                    font-family: $secondary-font;
                    font-size: 44px;
                    line-height: 45px;
                    letter-spacing: 3px;
                    font-weight: 700;
                    color: $black-variant-1;
                    transform: translateY(25%);
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.4s all ease-in-out;
                }

                .description {
                    transform: translateY(25%);
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.4s all ease-in-out;
                    margin-top: 35px;
                    font-family: $primary-font;
                    font-size: 13px;
                    color: $primary-font;
                    line-height: 22px;
                    margin-bottom: 35px;
                }
            }
        }

        .image {
            width: 60%;
            height: 100%;
            order: 2;
            align-self: flex-end;
            flex-basis: 60%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            transform: translateX(100%);
            object-fit: cover;
            transition: 0.6s all ease-in-out;
        }

        &.active {
            z-index: 1;
            display: flex;
            visibility: visible;

            .image {
                transition: 0.6s all ease-in-out;
                transform: translateX(0);
            }

            .info {
                .container {
                    .title,
                    .subtitle,
                    .description {
                        transform: translateY(0);
                        opacity: 1;
                        transition: 0.6s all ease-in-out;
                        visibility: visible;
                    }
                }
            }
        }
    }

    .navigations {
        position: absolute;
        right: 0;
        z-index: 2;
        background-color: $white;
        bottom: 0;

        .arrow {
            cursor: pointer;
            display: inline-block;
            padding: 11px 15px;
            position: relative;

            &.disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }

            .icon {
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                fill: $gray-variant-2;
            }

            &:nth-child(1) {
                &::after {
                    content: "";
                    right: -3px;
                    position: absolute;
                    width: 1px;
                    background-color: $gray-variant-3;
                    height: 14px;
                    top: 50%;
                    margin-top: -7px;
                }
            }
        }
    }
}