$black: #000;
$white: #fff;
$background-color: #96bfff;
$top-variant-1: rgba(0,35,147,1);
$top-variant-2: rgba(85,85,255,1);
$bottom-variant-1: rgba(136,0,0,1);
$bottom-variant-2: rgba(231,49,49,1);
$yellow-variant: #FFDF28;