$black: #000;
$white: #fff;

$gray-variant-1: #7E7E7E;
$gray-variant-2: #5d5d5d;
$gray-variant-3: #b0b0b0;
$black-variant-1: #2C2C2C;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Playfair Display', serif;